<html>

<head>
    <title>Simpatize</title>
</head>

<body>
<form action="/search/" method="get">
    <div>
        <label for="place_name">Nome do estabelecimento: </label>
        <input id="place_name" type="text" name="place_name" value="{{ current_place_name }}"/>
    </div>

    <div>


        <label for="place_type">Tipo do estabelecimento: </label>
        <select>
            <option value="airport">Aeroporto</option>
            <option value="amusement_park">Parque de diversões</option>
            <option value="art_gallery">Galeria de Arte</option>
            <option value="bakery">Padaria</option>
            <option value="bank">Banco</option>
            <option value="bar">Barra</option>
            <option value="beauty_salon">salão de beleza</option>
            <option value="bicycle_store">bicycle_store</option>
            <option value="book_store">Livraria</option>
            <option value="bowling_alley">Pista de boliche</option>
            <option value="cafe">Café</option>
            <option value="campground">área de camping</option>
            <option value="car_dealer">vendedor de carros</option>
            <option value="car_rental">aluguel de carro</option>
            <option value="car_repair">reparo de carro</option>
            <option value="car_wash">car_wash</option>
            <option value="casino">cassino</option>
            <option value="cemetery">cemitério</option>
            <option value="church">Igreja</option>
            <option value="city_hall">Prefeitura</option>
            <option value="clothing_store">loja de roupas</option>
            <option value="convenience_store">loja de conveniência</option>
            <option value="courthouse">tribunal</option>
            <option value="dentist"> Consultorio Odontologico</option>
            <option value="department_store">loja de departamento</option>
            <option value="doctor"> Consultorio médico</option>
            <option value="electronics_store">loja de eletrônicos</option>
            <option value="embassy">embaixada</option>
            <option value="establishment">estabelecimento</option>
            <option value="finance">Banco</option>
            <option value="fire_station">Corpo de Bombeiros</option>
            <option value="florist">Floricultura</option>
            <option value="food">restaurante/ lanchonete</option>
            <option value="funeral_home">funerária</option>
            <option value="furniture_store">loja de móveis</option>
            <option value="gas_station">posto de gasolina</option>
            <option value="grocery_or_supermarket">Supermercado/ Mercado</option>
            <option value="gym">Academia</option>
            <option value="hair_care">salão de beleza</option>
            <option value="hardware_store">Loja de Informatica</option>
            <option value="health">Hospital</option>
            <option value="home_goods_store">Loja de Moveis e Decoracao</option>
            <option value="hospital">hospital</option>
            <option value="insurance_agency">seguradora</option>
            <option value="jewelry_store">joaleria</option>
            <option value="laundry">lavanderia</option>
            <option value="lawyer">escritorio de advocacia</option>
            <option value="library">biblioteca</option>
            <option value="liquor_store">loja de bebidas</option>
            <option value="local_government_office">Orgao Publico</option>
            <option value="locksmith">chaveiro</option>
            <option value="lodging">alojamento</option>
            <option value="movie_rental">locadora de filme</option>
            <option value="movie_theater">cinema</option>
            <option value="museum">museu</option>
            <option value="night_club">Boate</option>
            <option value="parking">estacionamento</option>
            <option value="pet_store">Petshop</option>
            <option value="pharmacy">farmácia</option>
            <option value="physiotherapist">Clinica de Fisioterapia</option>
            <option value="place_of_worship">Lugar de Culto</option>
            <option value="police">Delegacia</option>
            <option value="post_office">Agência dos Correios</option>
            <option value="real_estate_agency">Agência imobiliária</option>
            <option value="restaurant">restaurante</option>
            <option value="school">escola</option>
            <option value="shoe_store">loja de sapatos</option>
            <option value="shopping_mall">Shopping</option>
            <option value="spa">SPA</option>
            <option value="stadium">estádio</option>
            <option value="storage">Armazem</option>
            <option value="store">Loja</option>
            <option value="synagogue">sinagoga</option>
            <option value="travel_agency">Agência de viagens</option>
            <option value="university">universidade</option>
            <option value="veterinary_care">Clinica Veterinária</option>
            <option value="zoo">jardim zoológico</option>
        </select>
    </div>
    <input type="Submit" value="SEARCH">
</form>

<div>
    {% block content %}

    {% endblock %}
</div>
</body>

</html>